.title{
    display: flex;
    justify-content: space-between;
}
.view{
    font-size: 75%;
    text-decoration: none;
    background-color: #f0ad4e;
    padding: 2px;
    color: white;
    border-radius: 2px;
}
.home{
    display: flex;
    justify-content: space-between;
    background-color: #f5f5f5;
    border-radius: 2px;
    
}

.home div span{
    font-size: 12px;
    background-color: #5cb85c;
    color: white;
    padding: 2px;
    border-radius: 2px;
}
.home div a{
    font-size: 12px;
    padding: 2px;
    border-radius: 2px;
    background-color:#5cb85c;
    color: white;
}



a{
    text-decoration: none;
}

.menu{
    display: flex;    
}
.sheme{
    width: 40%;
}
.attendance{
    width: 60%;
}
.attendance table thead td{
    
    height: 50px;
    vertical-align: bottom;
}
.attendance table tbody td{
    height: 50px;
}
.sheme td{
    vertical-align: top;  
}
.menu .attendance span{
    font-size: 50%;
    font-weight: bold;
    background-color: #6b90da;
    padding: 3px;
    border-radius: 2px;
    color: antiquewhite;
}

.span{
    font-size: 50%;
    font-weight: bold;
    background-color: #5cb85c;
    padding: 3px;
    border-radius: 2px;
    color: antiquewhite;
}


