<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>TimeTableController</servlet-name>
        <servlet-class>Student.TimeTableController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GroupController</servlet-name>
        <servlet-class>Student.GroupController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LecturerController</servlet-name>
        <servlet-class>Lecturer.LecturerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GroupLecturerController</servlet-name>
        <servlet-class>Controller.GroupLecturerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LecturerGroupController</servlet-name>
        <servlet-class>Lecturer.LecturerGroupController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaticAttendanceController</servlet-name>
        <servlet-class>Student.StaticAttendanceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewController</servlet-name>
        <servlet-class>Controller.ViewController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GroupListController</servlet-name>
        <servlet-class>Student.GroupListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GroupControllerList</servlet-name>
        <servlet-class>Student.GroupControllerList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaticGroupController</servlet-name>
        <servlet-class>Student.StaticGroupController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GroupControllerListLecturer</servlet-name>
        <servlet-class>Lecturer.GroupControllerListLecturer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaticGroupControllerLecturer</servlet-name>
        <servlet-class>Lecturer.StaticGroupControllerLecturer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaticAttendanceControllerLecturer</servlet-name>
        <servlet-class>Lecturer.StaticAttendanceControllerLecturer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>Controller.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShemeConttroller</servlet-name>
        <servlet-class>Student.ShemeConttroller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LecturerShemeController</servlet-name>
        <servlet-class>Lecturer.LecturerShemeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GroupControllerAtt</servlet-name>
        <servlet-class>Student.GroupControllerAtt</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TimeTableController</servlet-name>
        <url-pattern>/TimeTableController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GroupController</servlet-name>
        <url-pattern>/GroupController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LecturerController</servlet-name>
        <url-pattern>/LecturerController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GroupLecturerController</servlet-name>
        <url-pattern>/GroupLecturerController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LecturerGroupController</servlet-name>
        <url-pattern>/LecturerGroupController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaticAttendanceController</servlet-name>
        <url-pattern>/StaticAttendanceController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewController</servlet-name>
        <url-pattern>/ViewController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GroupListController</servlet-name>
        <url-pattern>/GroupListController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GroupControllerList</servlet-name>
        <url-pattern>/GroupControllerList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaticGroupController</servlet-name>
        <url-pattern>/StaticGroupController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GroupControllerListLecturer</servlet-name>
        <url-pattern>/GroupControllerListLecturer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaticGroupControllerLecturer</servlet-name>
        <url-pattern>/StaticGroupControllerLecturer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaticAttendanceControllerLecturer</servlet-name>
        <url-pattern>/StaticAttendanceControllerLecturer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShemeConttroller</servlet-name>
        <url-pattern>/ShemeConttroller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LecturerShemeController</servlet-name>
        <url-pattern>/LecturerShemeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GroupControllerAtt</servlet-name>
        <url-pattern>/GroupControllerAtt</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
